<!-- Modal 1 -->
<div class="modal fade" id="employeeModalToggle1" aria-hidden="true" aria-labelledby="employeeModalToggleLabel1" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="employeeModalToggleLabel1">マイページについて</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/assets/mypage.png" alt="画像の説明" class="resized-modal-image">
      
      </div>
      <div class="modal-footer">
      <div class="instruction">
      先月の労働時間が確認できます
      </div>
        <button class="btn btn-primary" data-bs-target="#employeeModalToggle2" data-bs-toggle="modal">次のページへ</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="employeeModalToggle2" aria-hidden="true" aria-labelledby="employeeModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="employeeModalToggleLabel2">勤怠情報ページについて</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/assets/attendance.png" alt="画像の説明" class="resized-modal-image">
      </div>
      <div class="modal-footer">
      <div class="instruction">
      確定したシフト時間と出退勤時間の確認ができます。また、日ごとにタスクのメモもできます
      </div>
        <button class="btn btn-primary" data-bs-target="#employeeModalToggle3" data-bs-toggle="modal">次のページへ</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="employeeModalToggle3" aria-hidden="true" aria-labelledby="employeeModalToggleLabel3" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="employeeModalToggleLabel3">勤怠ページについて</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/assets/work.png" alt="画像の説明" class="resized-modal-image">
      </div>
      <div class="modal-footer">
      <div class="instruction">
      現在の出退勤の状況を確認できます。また、このページで打刻を行うことができます
      </div>
        <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">閉じる</button>
      </div>
    </div>
  </div>
</div>


<button class="btn btn-info" data-bs-target="#employeeModalToggle1" data-bs-toggle="modal">従業員向けガイド</button>