<!-- Modal 1 -->
<div class="modal fade" id="adminModalToggle1" aria-hidden="true" aria-labelledby="adminModalToggleLabel1" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="adminModalToggleLabel1">管理ページについて</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/assets/manage.png" alt="画像の説明" class="resized-modal-image">
      
      </div>
      <div class="modal-footer">
      <div class="instruction">
      従業員のシフト作成・確認ができます。また、出退勤の情報も確認できます。
      </div>
        <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">閉じる</button>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-info" data-bs-target="#adminModalToggle1" data-bs-toggle="modal">管理者向けガイド</button>