<div class="top">
<div class="d-flex align-items-center justify-content-center h1 mb-5">
ようこそ！<br><br>
まずはあなたの役職に合わせてガイドを読んでみましょう。<br>
</div>
<div class="d-flex align-items-center justify-content-center">
<div class="me-5">
<%= render 'modal_user' %>
</div>
<%= render 'modal_admin' %>
</div>
</div>