<table>
<thead>
<tr>
<th>日付</th>
<th>勤怠情報</th>
</tr>
</thead>
<tbody>
<% @dates_in_february_2024.each do |date_info| %>
<tr>
<td><%= "#{date_info[:date]} (#{date_info[:day_of_week]})" %></td>
</tr>
<% end %>
</tbody>
</table>


